# Variáveis de Ambiente para o Render
# ---------------------------------------------------------

# URL de conexão do MongoDB Atlas (Cole a sua aqui no Render)
MONGODB_URI=mongodb+srv://Samid:Sete.1234567@cluster0.cscbtwo.mongodb.net/ton-game?retryWrites=true&w=majority

# Sua chave da API do Gemini (Obtenha em aistudio.google.com)
GEMINI_API_KEY=

# Define o ambiente como produção
NODE_ENV=production
