# Variáveis de Ambiente para o Render
# ---------------------------------------------------------

# URL de conexão do MongoDB Atlas (Obtenha em mongodb.com)
MONGODB_URI=

# Sua chave da API do Gemini (Obtenha em aistudio.google.com)
GEMINI_API_KEY=

# Define o ambiente como produção
NODE_ENV=production
